.tvShowContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tvShowContainer > img {
  width: 250px;
}

.seasonsDisplay {
  width: 225px;
  height: 60px;
}
